
/*** Meyer reset ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*** END Meyer reset ***/

#day-panel{
    width: 98%;
    padding: 10px;
    border-style: solid;
    border-width: 4px 0 0 0;
}

/* owm id 800 - yellow */
.clear{
    background-color: rgba(255, 240, 65, 0.25);
    border-color: rgba(255, 240, 65, 1);
}

/* owm id 801 - 804 - blue */
.clouds{
    background-color: rgba(63, 177, 253, 0.25);
    border-color: rgba(63, 177, 253, 1);

}

/* owm thunderstorm 2xx, drizzle 3xx, rain 5xx, snow 6xx, atmosphere 7xx - gray */
.other{
    background-color: rgba(100, 100, 100, 0.25);
    border-color: rgba(100, 100, 100, 1);
}





