/*** ForecastPanel ***/

#forecast-panel{
    display: flex;
    font-weight: 300;
}

/*** END ForecastPanel ***/


/*** DayCard ***/
#day-panel{
    width: 98%;
    padding: 10px;
    border-style: solid;
    border-width: 4px 0 0 0;
    text-align: center;
}

/* owm id 800 - yellow */
.clear{
    background-color: rgba(255, 240, 65, 0.25);
    border-color: rgba(255, 240, 65, 1);
}

/* owm id 801 - 804 - blue */
.clouds{
    background-color: rgba(63, 177, 253, 0.25);
    border-color: rgba(63, 177, 253, 1);

}

/* owm thunderstorm 2xx, drizzle 3xx, rain 5xx, snow 6xx, atmosphere 7xx - gray */
.other{
    background-color: rgba(100, 100, 100, 0.25);
    border-color: rgba(100, 100, 100, 1);
}

.day-icon{
    background-color: #8080803b;
    border-radius: 50%;
    max-width: 60px;
    margin: 20px auto;
}

@media only screen and (max-width : 540px) {
    #day-panel{
        font-size: 0.7em;
    }

    .icon{
        width: 30px;
    }
    .day-icon{
        max-width: 36px;
    }

}

/*** END DayCard ***/