
/*** WeatherPanel ***/

#title{
    padding-top: 30px;
    font-size: 1.6em;
    text-align: center;
}

#time-now{
    font-size: 0.6em;
}

#inner-panel{
    background-color: rgba(50, 50, 50, 0.5);
}

#outer-panel{
    position: absolute;
    width: 96%;
    left: 2%;
    top: 30px; 
    opacity: 0;
}

#outer-panel.fadein{
    animation: panel-fadein 2s ease 0s 1 normal forwards;
}

@keyframes panel-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.days-panel{
    display: flex;
    justify-content: space-evenly;
}

#current-panel{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 200px;
    padding-bottom: 4%;
}

#main-stats{
    justify-content: flex-start;
    text-align: start;
}

#main-temp{
    flex-direction: row;
    font-size: 3em;
}

#main-description{
    font-size: 0.8em;
    background-color: rgba(50, 50, 50, 0.6);
    padding: 8px;
}

#main-temp{
    font-size: 2.6em;
    vertical-align: text-top;
}

#plus-sign{
    margin-top: 30%;
}

#main-condition{
    justify-content: space-between;
}

#main-icon{
    height: 60%;
    margin-top: -20px;
}

.stats-icon{
    height: 26px;
    vertical-align: middle;
    margin-right: 10px;
}

.stat-row{
    padding: 4px 0;
}

/*** END WeatherPanel ***/


/*** SearchBox ***/

#search-panel{
    width: 100%;
    position: absolute;
    top: 600px;
    /* left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
}

#search-input{
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgba(245, 245, 245, 0.7);
    background: transparent;
    outline: none;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); 
}

#search-input::placeholder{
    color: whitesmoke;
}

#error-msg{
    font-size: 0.8em;
    text-align: center;
}

/*** END SearchBox ***/


















